.card {
  min-width: 35%;
  .card-img-top {
    min-height: 10em;
  }
  .card-header {
    min-height: 8rem;

    // display: flex;
    // flex-flow: column;
    // justify-content: start;
  }
}
@media (min-width: 992px) {
  .card {
    min-width: 20%;
    // width: 50%;
  }
}
