.badge {
  border-radius: 20rem;
  border: none;

  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0rem 1rem 0rem 0rem;
}
.badge-light {
  color: rgb(29, 29, 29);
}
.badge-primary {
  background-color: #0d6efd;
}
