.modal {
  position: fixed;
  display: block;
  background-color: #00000091;
  transition: 0.5s ease-in-out;
  height: 100%;
}
.hidden {
  height: 0;
  display: none;
}
.show {
  height: 100%;
  display: block;
}
.close {
  background-color: none;
  border: none;
  text-align: center;
}
