@import "./containers/Modal/Modal.scss";
@import "./components/BadgeGroup/Badge/Badge.scss";
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  h1 {
    color: rgb(16, 18, 29);
  }
}
